body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}
.player{
  display: inline-block; 
  border: 1px solid black;
  margin: 20px;
  padding: 3px 30px 2px 30px;
  text-align:center;
}
.turn{
  border: 2px solid black;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}